name: Code style
on: pull_request
jobs:
  laravel-pint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
        with:
          php-version: '8.1'
      - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
      - name: "php-cs-fixer"
      - run:  .\vendor\bin\php-cs-fixer fix --config=phpCsFixerConfig.php  --dry-run --diff


